#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0px;
  margin: 0px;
}

.form,
.find_Patient {
  width: 350px;
  margin: 0 auto;
}

.register-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  width: 350px;
  margin: 0 auto;
}

.form-label {
  text-align: left;
  font-size: 1.1rem;
  padding-right: 10px;
}

.form-input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
